/* .gradientBorder {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #bbbbbb, transparent) 1;
} */

.gradientBorder {
  background: linear-gradient(rgba(88, 85, 85, 0.219), transparent) padding-box,
    linear-gradient(to bottom, rgba(199, 198, 198, 0.45), transparent) border-box;
  border-radius: 50em;
  border: 3px solid transparent;
}

.statsCard {
  width: 250px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border-radius: 0.75rem;
  padding: 1px;
}
